<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BookmarkRecipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Bookmarker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F31D91DC1AFC00EC00E0EAEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31D91F11AFC00EC00E0EAEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31D92051AFC010500E0EAEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
